{% extends 'templates/app.twig' %}

{% block content %}

<div id="notification">
  {% if notifications %}
    <p id="delete_all_notifications">Delete all</p>
    {% for key,value in notifications %}
      <p data-id="{{value['id']}}">
        {% if value['viewed'] %}
          <span class="viewed">
        {% else %}
          <span class="not_viewed">
        {% endif %}
        Mark as viewed</span> <a href="{{ base_url() }}/show?profile={{value['uid']}}">{{value['firstName']}} {{value['lastName']}} </a>{{value['text']}} {{value['time']}} 
        <span class="delete_notification">Delete</span>
      </p>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
