{% extends 'templates/app.twig' %}

{% block content %}

<div id="chats">
    {% if chats %}
        {% for key,value in chats %}
        <p>
            You wached <a href="{{ base_url() }}/show?profile={{value['visited_id']}}">{{value['firstName']}} {{value['lastName']}} </a>profile {{value['time']}}
        </p>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}